html, body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

._2{
    line-height: 1.6;
    background-color: aliceblue;
    width: 300px;
}
._3{
    padding: 0;
    margin: 0;
    display: inline;
    color: black;
    background-color: aliceblue;
    background-size: 0 4px;
    background-image: linear-gradient(90deg,#ff6b6b,#4ecdc4);
    background-position-y: calc(100% + 2px);
    padding-bottom: 2px;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease-in-out;
}
._2:hover ._3{
    background-size: 100% 4px;
    background-position-x: 0;
}
._2:not(:hover) ._3{
    background-size: 0 4px;
    background-position-x: 100%;
}