html, body{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

body{
    border: 1px solid black;
    padding: 20px;
}

.box1{
    height: 500px;
    background-color: blue;
    color: white;
    min-width: 320PX;
    padding: 10px;
    border-radius: 4px;
    margin: 0 20px;
}

.box2{
    height: 300px;
    background-color: green;
    color: white;
    width: 320PX;
    flex-grow: calc(1);
    flex-shrink: calc(2);
    padding: 10px;
    border-radius: 4px;
    margin: 0 20px;
}
.box3{
    height: 100px;
    background-color: orange;
    color: white;
    width: 320PX;
    padding: 10px;
    border-radius: 4px;
    margin: 0 20px;
    flex-shrink:calc(2);
    align-self: start;
}

.box4{
    height: 600px;
    background-color: red;
    color: white;
    width: 320PX;
    padding: 10px;
    border-radius: 4px;
    margin: 0 20px;
    flex-shrink:calc(2);
}