/* lv2 */

form{
    height: 100px;
    border: 1px solid black;
    border-radius: 8px;
}

#inputBox{
    width: 100%;
    height: auto;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
}

#comment{
    float: right;
    margin-top: 10px;
    padding: 0;
    width: 80px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 4px;
    outline: none;
    box-shadow: 5px 5px 10px rgb(207, 207, 207);
    overflow: hidden;
}

#comment:hover{
    transform: scale(1.1);
}

#commentPart{
    margin-top: 100px;
    gap: 20px;
    padding: 10px;
}

li{
    background-color: white;
    padding: 10px;
    margin: 10px;
    list-style: none;
    box-shadow: 0px 0px 10px rgb(179, 179, 179);
}

li:hover{
    transform: scale(1.01);
}

.head{
    width: 30px;
    height: 30px;
    border-radius: 16px;
    border: 1px solid rgb(150, 150, 150);
    margin-right: 20px;
    float: left;
    overflow: hidden;
}

.name{
    width: auto;
    line-height: 10px;
    font-size: 15px;
}

.commentText{
    font-size: 20px;
    margin-left: 40px;
}


